@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
	background: url("https://img4.goodfon.com/wallpaper/nbig/0/c3/background-rainbow-colorful-splash-colors-painting-abstrac-1.jpg")
		no-repeat center center/cover;
}

* {
	margin: 0;
	padding: 0;
}

/* NavBar section */

nav {
	font-family: "Open Sans", sans-serif;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	height: 65px;
	background-color: black;
	color: white;
}

nav ul li {
	padding: 0px 20px;
}

nav ul .navigation:hover {
	background-color: white;
	color: black;
	border-radius: 20px;
}

.brand img {
	width: 45px;
	padding: 0px 8px;
}

.brand {
	display: flex;
	align-items: center;
	font-weight: bolder;
	font-size: 1.3rem;
}

/* Music Section */

.container {
	min-height: 75vh;
	background-color: black;
	color: white;
	font-family: "Open Sans", sans-serif;
	display: flex;
	width: 75%;
	margin: 23px auto;
	border-radius: 12px;
	padding: 34px;
	background: url("./Images/music.webp") no-repeat center center/cover;
}

.songItem {
	height: 60px;
	display: flex;
	background-color: white;
	color: black;
	width: 110%;
	font-weight: bolder;
	margin: 12px 0;
	justify-content: space-between;
	align-items: center;
	border-radius: 34px;
}

.songItem img {
	width: 45px;
	margin: 0 20px;
	border-radius: 34px;
}

#photo {
	border-radius: 50px;
	width: 38px;
}

.timestamp {
	margin: 0px 23px;
}

.timestamp i {
	cursor: pointer;
}

.songItemcontainer {
	margin-top: 80px;
}

/* bottom section */

.bottom {
	position: sticky;
	height: 130px;
	background-color: black;
	color: white;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.icons {
	margin-top: 20px;
}

.icons i {
	cursor: pointer;
}

#myProgressBar {
	width: 80vw;
	cursor: pointer;
}

.songinfo {
	position: absolute;
	left: 10vw;
	font-family: "Open Sans", sans-serif;
}

.songinfo img {
	opacity: 0;
	transition: opacity 0.4s ease-in;
}

.nav-pills .nav-link.active {
	background-color: #ffffffe7;
	color: #7f5ed8;
}

.nav-pills .nav-link {
	border-radius: 1rem;
}

.nav-pills a {
	color: #7f5ed8;
	font-weight: bold;
	text-decoration: none;
	background-color: transparent;
}
